.form__svg {
    display: block;
    width: var(--size-xl);
    height: var(--size-xl);
    margin-top: 0.3rem;
}

.form {
    display: flex;
    justify-content: center;

    gap: 0.5rem;
}

.input {

    width: 80%;
    background: none;
    color: inherit;
}